
::selection {
  color: red;
  background: yellow;
}




body {
  background-image: url("http://postto.me/1x/htk.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;

background: violet url("http://postto.me/1x/htk.jpg") no-repeat fixed right top ;
background-size: auto;

   /*background-repeat: repeat-x;*/
   margin-left: 100px

}

/* a:link, a:visited {
  background-color: #ffcccc;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: red;
  cursor: wait;
} */


p {
  text-indent: 0px;
  text-align: justify;
  letter-spacing: 1.5px;
  text-shadow: 3px 2px white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 1em;
}

h1 {
  color: navy;
  margin-left: 0 px;
  margin-top: 0 px;
}

.border{
  border-style: double;
  border-width: 10px;
  border-color: orange red green blue;
  border-radius: 50px;

}

.b1{
  border-left: 5px solid red;
  background-color: lightgray;
}

.b2{
  border-bottom: 5px solid red;
  background-color: lightgray;
}

p.b3 {
  border: 2px solid red;
  border-radius: 12px;
  margin-left: inherit;
}

.div1 {

  border: 1px solid black;
  display:block;
  background-color: lightblue;
}

.div2 {
  border: 2px solid green;
  margin: 40px 200px 10px 10px;
  background-color: lightblue;
  outline: 5px dotted red;
  outline-offset: 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navy;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 40px;

  text-decoration: none;
}

li a:hover {
  background-color: blue;
}


li a:active {
  background-color: green;
}


.active {
  background-color: red;
}
