body {
  background-image: url("http://postto.me/1x/htk.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: scroll;

background: violet url("http://postto.me/1x/htk.jpg") no-repeat fixed right top ;
background-size: auto;

   /*background-repeat: repeat-x;*/
   margin-left: 100px

}

h1 {
  color: navy;
  margin-left: 0 px;
  margin-top: 0 px;
}
